{% extends "layout.twig" %}
{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Roles</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-1">#</th>
                            <th class="col-3">Name</th>
                            <th class="col-3">Tag</th>
                            <th class="col-2">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for role in roles %}
                            <tr>
                                <td class="pl-4">{{ role.id }}</td>
                                <td>
                                    <h5 class="font-medium mb-0">{{ role.name }}</h5>
                                </td>
                                <td>
                                    <h5 class="font-medium mb-0">{{ role.role }}</h5>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="/role/{{ role.id }}/edit">
                                            <i class="fa fa-user" ></i> Edit
                                        </a>
                                        <a class="btn btn-default" href="/role/{{ role.id }}/delete">
                                            <i class="fas fa-trash"></i> Remove
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}
