{% extends "layout.twig" %}
{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Order Comments</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">

                        <div class="card-body box-profile">
                            <h3 class="profile-username text-center">Client name</h3>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Order ID</b> <span class="float-right">{{ order.id }}</span>
                                </li>
                                <li class="list-group-item">
                                    <b>Order Status</b> <span class="float-right">{{ order.status }}</span>
                                </li>
                                <li class="list-group-item">
                                    <b>Order Sum</b> <span class="float-right"> €{{ order.sum }}</span>
                                </li>
                                <li class="list-group-item">
                                    <b>Order Country</b> <span class="float-right">{{ order.country }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="post">
                                    <table class="table">
                                        <tbody>
                                        <div class="direct-chat-messages">
                                            {% for commentData in commentsData %}
                                                <div class="direct-chat-msg">
                                                    <div class="direct-chat-infos clearfix">
                                                        <span class="direct-chat-name float-left">{{ commentData.comment_creator }} </span>

                                                        <span class="direct-chat-timestamp float-left pl-1">({{ commentData.creation_at|date('d M H:i') }})</span>
                                                    </div>
                                                    <div class="direct-chat-text">
                                                        {{ commentData.text }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="card-footer">
                                            <form action="/client/{id}/add-order-comment" method="post">
                                                <div class="input-group">
                                                    <input type="hidden" name="orderId" value="{{ order.id }}">
                                                    <input type="hidden" name="userId" value="{{ app.user.id }}">
                                                    <input type="text" name="text" placeholder="Type Message ..." class="form-control">
                                                    <span class="input-group-append">
                                                        <button type="submit" class="btn btn-primary">Send</button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                        </tbody>
                                    </table>
                                    <p>
                                        <span class="float-right">
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
