{% extends "layout.twig" %}
{% block body %}
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Client Profile</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-primary card-outline">

                            <div class="card-body box-profile">
                                <h3 class="profile-username text-center">{{ client.userName }}</h3>
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Orders Quantity</b> <a class="float-right">1,322</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Total orders sum</b> <a class="float-right">543</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Total Products Sold</b> <a class="float-right">13,287</a>
                                    </li>
                                </ul>
                            </div>

                        </div>


                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">About Client</h3>
                            </div>

                            <div class="card-body">
                                <hr>
                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Country</strong>
                                <p class="text-muted">{{ client.country }}</p>
                                <hr>
                                <strong><i class="fas fa-pencil-alt mr-1"></i> Contacts</strong>
                                <p class="text-muted">
                                    <span class="tag tag-danger">{{ client.contact }}</span>
                                </p>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active"
                                           href="#orders"
                                           data-toggle="tab">Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"
                                           href="#edit"
                                           data-toggle="tab">Edit Client</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="orders">
                                        <div class="post">
                                                <table class="table">
                                                        <tr>
                                                            <th class="col-1">#</th>
                                                            <th class="col-1">Order ID</th>
                                                            <th class="col-1">Products</th>
                                                            <th class="col-1">Country</th>
                                                            <th class="col-2">Total Sum</th>
                                                            <th class="col-2">Status</th>
                                                            <th class="col-2">
                                                                <a class="btn btn-default"
                                                                   href="/client/{{ client.id }}/new-order">
                                                                    <i class="fa fa-edit" ></i> New Order
                                                                </a>
                                                            </th>
                                                        </tr>
                                                    <tbody>
                                                    {% for order in orders %}
                                                        <tr>
                                                            <td class="pl-4">{{ order.id }}</td>
                                                            <td>
                                                                <h5 class="font-medium mb-0">{{ order.orderId }}</h5>
                                                            </td>
                                                            <td>
                                                                <h5 class="font-medium mb-0">{{ order.products }}</h5>
                                                            </td>
                                                            <td>
                                                                <h5 class="font-medium mb-0">{{ order.country }}</h5>
                                                            </td>
                                                            <td>
                                                                <h5 class="font-medium mb-0">{{ order.sum }}</h5>
                                                            </td>
                                                            <td>
                                                                <h5 class="font-medium mb-0">{{ order.status }}</h5>
                                                            </td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <a class="btn btn-default"
                                                                       href="/client/{{order.id}}/edit-order">
                                                                        <i class="fa fa-edit" ></i> Edit
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            <p>
                                                <span class="float-right">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="edit">
                                        <div class="post">
                                            <table class="table">
                                                <tbody>
                                                <form action="/client/{{ client.id }}/save" method="post">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1"> Client name</label>
                                                            <input name="userName"
                                                                   type="text"
                                                                   class="form-control"
                                                                   value="{{ client.userName }}"
                                                                   placeholder="Username">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1"> Client contact</label>
                                                            <input name="contact"
                                                                   type="text"
                                                                   class="form-control"
                                                                   value="{{ client.contact }}"
                                                                   placeholder="Contact">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1"> Client country</label>
                                                            <input name="country"
                                                                   type="text"
                                                                   class="form-control"
                                                                   value="{{ client.country }}"
                                                                   placeholder="Country">
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </form>
                                                </tbody>
                                            </table>
                                            <p>
                                                <span class="float-right">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
